.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.mainContent {
  flex: 1;
  padding-top: 1px; /* Add padding to account for the fixed navbar */

  /* Responsive padding adjustments */
  @media (max-width: 1024px) {
    padding-top: 1px;
  }
  
  @media (max-width: 768px) {
    padding-top: 1px;
  }
  
  @media (max-width: 480px) {
    padding-top: 1px;
  }
} 